ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

li {
    background: transparent;
    color: white;
}

.navLink {
    color: white;
}

.navBar {
    background: #36231D;
    /* box-shadow: 4px 3px 5px gray; */
    color: white;
    padding: 0.5rem;
}

.navBrand {
    background: transparent;
    color: white;
    font-size: 1.5rem;
}

a {
    font-family: Calibri, Arial, sans-serif;
    background: transparent;
    color: white;
}

button {
    background: #F2C879;
    border: 1pt, white;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
}

button:hover {
    background: #FFDA96;
    color: white;
    cursor: pointer;
}