body {
    background-image: url("https://i.imgur.com/eMsWrjL.jpg");
    background-size: 20rem;
    background-repeat: repeat;
} 

.container {
    margin: auto;
    height: 35rem;
    width: 45rem;
    background-color: #F2F2F2;
    box-shadow: 4px 3px 5px gray;
    padding: 1rem;
}

h3 {
    font-size: 2rem;
    font-family: Arial;
}

i {
    font-family: 'Lucida Sans';
}

p {
    font-size: 1.2rem;
    font-family: Calibri, Arial, sans-serif;
    color: black;
}

label {
    font-size: 1.3rem;
}

button, .bodyLink {
    background: #F2C879;
    border: none;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem;
}

button:hover, .bodyLink:hover {
    background: #FFDA96;
    border: none;
    color: white;
    cursor: pointer;
}