#locationCard {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid slategray;
    border-radius: 0.7em;
    background: white, 50%;
}

.text {
    font-size: 0.8rem;
}

.marginOne {
    margin: 1.0em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}