#locationCard {
    border: 1px solid lavender;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    padding-bottom: 0.5rem;
    width: 50vh;
}

.text {
    font-size: 0.6em;
}

.userCardRequest {
    background: teal;
    color: white;
    border-radius: 0.5em;
    font-size: 0.6em;
    padding: 0.5em;
}

.marginOne {
    margin: 1.0em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}